.recipe{
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71,71,71);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 60px;
    margin-bottom: 30px;
    background: white;
    min-width: 40%;
    max-width: 350px;
    height: auto;
}


img{
    border-radius: 50%;
    padding-top: 20px;
    width: 150px;
}

ol {
    list-style: none;
    text-align: justify;
    padding: 10px 5px;
}